@import url(default.css); /* default.css 불러오기 */
@font-face {
	font-family: 'NanumSquarNeo';
	font-weight: 100;
	font-style: normal;
	src: url(../fonts/NanumSquareNeoTTF-aLt.eot) format('woff2'), 
    url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff2'), 
    url(../fonts/NanumSquareNeoTTF-aLt.woff2) format('woff');
}
@font-face {
	font-family: 'NanumSquarNeo';
	font-weight: 700;
	font-style: normal;
	src: url(../fonts/NanumSquareNeoTTF-dEb.eot) format('woff2'), 
    url(../fonts/NanumSquareNeoTTF-dEb.woff) format('woff2'), 
    url(../fonts/NanumSquareNeoTTF-dEb.woff2) format('woff');
}