@font-face {
	font-family: 'Paperlogy';
	font-weight: 300;
	font-display: swap;
	src: local('Paperlogy-3Light'), url(../fonts/Paperlogy-3Light.woff2) format('woff2');
}
@font-face {
	font-family: 'Paperlogy';
	font-weight: 400;
	font-display: swap;
	src: local('Paperlogy-4Regular'), url(../fonts/Paperlogy-4Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Paperlogy';
	font-weight: 800;
	font-display: swap;
	src: local('Paperlogy-8ExtraBold'), url(../fonts/Paperlogy-8ExtraBold.woff2) format('woff2');
}