@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*
    플러그인을 사용할대 이미 적용되어 있는 css를 변경하려면
    1. 동일한 이름의 앞에 body태그 선택자를 추가하는 방법
        strong 
        body strong == 이 경우 body strong이 우선순위가 높음
    2. 속성값 뒤에 !important를 추가
        우선순위가 1순위가 됨
        (important는 해제가 어려움. 모바일에서도 적용됨)
*/

.fp_nav {
    position: fixed;
    left: 4%;
    top: 40%;
    transform: translate(-50%);
    /* 위아래 가운데 */
    z-index: 99;
}
.fp_nav ul li a {
    display: block;
    color: #fff;
    line-height: 2;
    white-space: nowrap; /* 한줄로 표시 */
    padding-left: 15px;
    position: relative;
}
.fp_nav ul li a::after {
    position: absolute;
    left: 3px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #EDEDED;
    content: "";
    z-index: -1;
}
.fp_nav ul li:first-child a::after {
    top: 18px;
    height: calc(100% - 15px);
}
.fp_nav ul li:last-child a::after {
    height: 15px;
}
.fp_nav ul li a::before{
    position: absolute;
    left: 0;
    top: 12px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ccc;
    content: "";
}
.fp_nav ul li a span {
    position: relative;
}
.fp_nav ul li.active a span::before,
.fp_nav ul li a:hover span::before {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px ;
    background-color: #ADBA5E ;
    content: "";
}
.fp_nav ul li.active a,
.fp_nav ul li a:hover {
    color: #ADBA5E;
    font-weight: 700;
}
.fp_nav ul li.active a::before,
.fp_nav ul li a:hover:before {
    background-color:  #ADBA5E;
}
.fp_nav.dark ul li a {
    color: #666;
}
.fp_nav.dark ul li.active a,
.fp_nav.dark ul li a:hover {
    color: #ADBA5E;
}
.fp_nav.dark ul li a::after {
    background-color: #EDEDED;
}
.fp_nav.dark ul li a::before{
    background-color: #ccc;
}
.fp_nav.dark ul li.active a span::before,
.fp_nav.dark ul li a:hover span::before {
    background-color: #ADBA5E ;
}
.fp_nav.dark ul li.active a::before,
.fp_nav.dark ul li a:hover:before {
    background-color:  #ADBA5E;
}
.fp_nav.dark ul li.active a span::before,
.fp_nav.dark ul li a:hover span::before {
    background-color: #ADBA5E ;
}

.quick_menu {
    position: fixed;
    right: 2%;
    top: 30%;
    transform: translate(-50%);
    z-index: 99;
}
.quick_menu ul li a {
    display: block; 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ADBA5E;
    text-align: center;
    padding-top: 45px;
    color: #fff;
    position: relative;
}
.quick_menu ul li button {
    display: block; 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    padding-top: 25px;
    color: #36A8D4;
    position: relative;
}
.quick_menu ul li a::before {
    position: absolute;
    left: 0;
    top: 11px;
    width: 100%;
    height: 31px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.quick_menu ul li button::before {
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 31px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: ""; 
}
.quick_menu ul li.quick1 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9375 28.4151V22.2306H12.75C10.9811 22.2306 9.47632 21.6104 8.23579 20.3698C6.99526 19.1295 6.375 17.6248 6.375 15.8556C6.375 14.5207 6.77367 13.3138 7.57102 12.235C8.36837 11.1562 9.39179 10.3544 10.6413 9.82948C10.8448 8.01332 11.5386 6.55675 12.7227 5.45978C13.9071 4.36257 15.3328 3.81396 17 3.81396C18.6672 3.81396 20.0929 4.36257 21.2773 5.45978C22.4614 6.55675 23.1552 8.01332 23.3587 9.82948C24.6172 10.3362 25.6428 11.1335 26.4357 12.2215C27.2286 13.3093 27.625 14.5207 27.625 15.8556C27.625 17.6248 27.0047 19.1295 25.7642 20.3698C24.5237 21.6104 23.0189 22.2306 21.25 22.2306H18.0625V28.4151H25.1458C25.4469 28.4151 25.6992 28.517 25.9027 28.7207C26.1065 28.9245 26.2083 29.1769 26.2083 29.4779C26.2083 29.7792 26.1065 30.0315 25.9027 30.2348C25.6992 30.4383 25.4469 30.5401 25.1458 30.5401H8.85417C8.55312 30.5401 8.30084 30.4382 8.09731 30.2344C7.89355 30.0307 7.79167 29.7782 7.79167 29.4769C7.79167 29.1758 7.89355 28.9236 8.09731 28.72C8.30084 28.5167 8.55312 28.4151 8.85417 28.4151H15.9375ZM12.75 20.1056H21.25C22.4306 20.1056 23.434 19.6924 24.2604 18.866C25.0868 18.0397 25.5 17.0362 25.5 15.8556C25.5 14.9421 25.2194 14.1243 24.6581 13.4023C24.0969 12.6805 23.3859 12.1453 22.525 11.7965L21.3917 11.3223L21.2337 10.0473C21.0828 8.77608 20.6188 7.77355 19.8415 7.03972C19.0642 6.30588 18.117 5.93896 17 5.93896C15.883 5.93896 14.9358 6.30588 14.1585 7.03972C13.3812 7.77355 12.9172 8.77608 12.7663 10.0473L12.6083 11.3223L11.3659 11.8511C10.5414 12.1998 9.85764 12.7306 9.31458 13.4434C8.77153 14.1562 8.5 14.9603 8.5 15.8556C8.5 17.0362 8.91319 18.0397 9.73958 18.866C10.566 19.6924 11.5694 20.1056 12.75 20.1056Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick2 a::before {
background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9997 25.9377C14.7339 25.9377 14.5113 25.8478 14.3319 25.668C14.1523 25.4884 14.0625 25.2658 14.0625 25.0002V16.0171C12.8094 16.0171 11.6082 15.7799 10.4591 15.3055C9.31012 14.8312 8.29492 14.1532 7.41346 13.2718C6.53221 12.3903 5.8596 11.3751 5.39564 10.2262C4.93169 9.07719 4.69971 7.87605 4.69971 6.62271V5.85365C4.69971 5.53699 4.80679 5.27147 5.02096 5.05709C5.23512 4.84292 5.50064 4.73584 5.81752 4.73584H6.58658C7.81262 4.73584 8.99971 4.97501 10.1478 5.45334C11.2962 5.93167 12.311 6.61157 13.1922 7.49303C13.8462 8.14699 14.3826 8.8774 14.8016 9.68428C15.2207 10.4912 15.5209 11.3481 15.7019 12.2552C15.8461 12.0052 16.0067 11.7683 16.1838 11.5446C16.3609 11.321 16.5585 11.1003 16.7766 10.8824C17.6553 10.0024 18.6707 9.32292 19.8228 8.84397C20.9749 8.3648 22.1757 8.12522 23.4253 8.12522H24.1947C24.5114 8.12522 24.7768 8.2324 24.991 8.44678C25.2053 8.66094 25.3125 8.92636 25.3125 9.24303V10.0121C25.3125 11.2619 25.0729 12.4628 24.5938 13.6149C24.1148 14.767 23.4353 15.7824 22.5553 16.6612C21.6739 17.5426 20.6639 18.2153 19.5253 18.6793C18.3866 19.1432 17.1906 19.3752 15.9375 19.3752V25.0002C15.9375 25.2658 15.8476 25.4884 15.6678 25.668C15.488 25.8478 15.2653 25.9377 14.9997 25.9377ZM14.0747 14.1108C14.0747 13.1108 13.882 12.1577 13.4966 11.2515C13.1112 10.3452 12.5643 9.53792 11.856 8.82959C11.1476 8.12126 10.3403 7.57438 9.43408 7.18896C8.52783 6.80355 7.57471 6.61084 6.57471 6.61084C6.57471 7.61084 6.76221 8.56917 7.13721 9.48584C7.51221 10.4025 8.05387 11.215 8.76221 11.9233C9.47054 12.6317 10.283 13.1733 11.1997 13.5483C12.1164 13.9233 13.0747 14.1108 14.0747 14.1108ZM15.9375 17.5002C16.9375 17.5002 17.8906 17.3127 18.7969 16.9377C19.7031 16.5627 20.5104 16.021 21.2188 15.3127C21.9271 14.6044 22.474 13.7919 22.8594 12.8752C23.2448 11.9585 23.4375 11.0002 23.4375 10.0002C22.4375 10.0002 21.4792 10.1929 20.5625 10.5783C19.6459 10.9638 18.8334 11.5106 18.125 12.219C17.4167 12.9273 16.875 13.7346 16.5 14.6408C16.125 15.5471 15.9375 16.5002 15.9375 17.5002Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick3 a::before {
background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1852 24.0355C16.2227 24.0505 16.2563 24.058 16.2861 24.058C16.316 24.058 16.3498 24.0505 16.3873 24.0355L23.2502 21.9107C23.1905 21.6461 23.0671 21.4431 22.8801 21.3017C22.693 21.1604 22.4814 21.0897 22.2451 21.0897H16.5317C16.0226 21.0897 15.5901 21.0702 15.234 21.0313C14.878 20.9924 14.5123 20.9072 14.1368 20.7755L12.306 20.1765C12.0707 20.1016 11.9016 19.9521 11.7988 19.7279C11.6957 19.5035 11.6816 19.275 11.7565 19.0425C11.8312 18.8097 11.9758 18.6392 12.1905 18.5309C12.4052 18.4224 12.6306 18.4056 12.8669 18.4804L14.3835 19.0121C14.7366 19.1243 15.1316 19.2039 15.5683 19.251C16.005 19.2981 16.571 19.3276 17.2664 19.3397H17.5784C17.5784 19.0509 17.5134 18.8018 17.3833 18.5924C17.2532 18.383 17.0819 18.2416 16.8694 18.1683L10.1007 15.6825C10.0781 15.6751 10.0575 15.6695 10.0389 15.6658C10.0202 15.6619 9.99969 15.66 9.97732 15.66H7.81899V21.673L16.1852 24.0355ZM15.7299 25.7496L7.81899 23.4813C7.6858 23.9643 7.41503 24.3521 7.0067 24.6445C6.59837 24.9369 6.16612 25.0832 5.70995 25.0832H4.0947C3.51467 25.0832 3.01816 24.8767 2.60516 24.4637C2.19216 24.0507 1.98566 23.5542 1.98566 22.9741V16.019C1.98566 15.4392 2.19216 14.9428 2.60516 14.5298C3.01816 14.1168 3.51467 13.9103 4.0947 13.9103H9.9642C10.0865 13.9103 10.2105 13.9237 10.3361 13.9505C10.4619 13.9776 10.5785 14.009 10.6861 14.0448L17.4842 16.5487C18.0137 16.7445 18.4534 17.0911 18.8034 17.5885C19.1535 18.0859 19.3284 18.6696 19.3284 19.3397H22.2451C23.0828 19.3397 23.7652 19.61 24.2923 20.1508C24.8197 20.6914 25.0833 21.3932 25.0833 22.2563C25.0833 22.5869 24.9958 22.8531 24.8208 23.0549C24.6458 23.2569 24.3811 23.417 24.0266 23.535L16.9482 25.7315C16.7566 25.7944 16.5554 25.8276 16.3444 25.8313C16.1336 25.8352 15.9288 25.808 15.7299 25.7496ZM3.73566 22.9741C3.73566 23.0789 3.7693 23.165 3.83657 23.2323C3.90385 23.2995 3.98989 23.3332 4.0947 23.3332H5.70995C5.81456 23.3332 5.9006 23.3052 5.96807 23.2492C6.03535 23.193 6.06899 23.1013 6.06899 22.9741V15.66H4.0947C3.98989 15.66 3.90385 15.6937 3.83657 15.7612C3.7693 15.8285 3.73566 15.9144 3.73566 16.019V22.9741ZM18.487 13.975C18.2253 13.975 17.968 13.9272 17.7152 13.8315C17.4625 13.7359 17.2315 13.5923 17.0222 13.4008L13.8699 10.3406C13.312 9.80217 12.8428 9.2028 12.462 8.54246C12.0813 7.88213 11.8909 7.16298 11.8909 6.385C11.8909 5.42153 12.2282 4.60263 12.9027 3.9283C13.5771 3.25377 14.396 2.9165 15.3594 2.9165C15.9893 2.9165 16.5707 3.06836 17.1039 3.37209C17.6373 3.67561 18.0984 4.06227 18.4873 4.53205C18.8762 4.06227 19.3372 3.67561 19.8704 3.37209C20.4035 3.06836 20.985 2.9165 21.6148 2.9165C22.5783 2.9165 23.3972 3.25377 24.0715 3.9283C24.7461 4.60263 25.0833 5.42153 25.0833 6.385C25.0833 7.16298 24.896 7.88213 24.5213 8.54246C24.1466 9.2028 23.6803 9.80217 23.1224 10.3406L19.9523 13.4008C19.7429 13.5923 19.5117 13.7359 19.2587 13.8315C19.006 13.9272 18.7487 13.975 18.487 13.975ZM18.734 12.1355L21.8234 9.13805C22.2152 8.75363 22.5648 8.33557 22.8722 7.88388C23.1796 7.43218 23.3333 6.93256 23.3333 6.385C23.3333 5.90492 23.1669 5.49853 22.834 5.16584C22.5013 4.83295 22.0949 4.6665 21.6148 4.6665C21.2454 4.6665 20.9073 4.76295 20.6007 4.95584C20.2941 5.14892 20.0233 5.39353 19.7884 5.68967L19.2678 6.31792C19.0669 6.5602 18.8073 6.68134 18.489 6.68134C18.1707 6.68134 17.9099 6.5602 17.7065 6.31792L17.1859 5.68967C16.951 5.39353 16.6802 5.14892 16.3736 4.95584C16.0671 4.76295 15.7291 4.6665 15.3594 4.6665C14.8794 4.6665 14.473 4.83295 14.1403 5.16584C13.8074 5.49853 13.6409 5.90492 13.6409 6.385C13.6409 6.93256 13.7947 7.43218 14.1021 7.88388C14.4095 8.33557 14.7591 8.75363 15.1509 9.13805L18.2402 12.1355C18.3077 12.2028 18.3901 12.2364 18.4873 12.2364C18.5845 12.2364 18.6668 12.2028 18.734 12.1355Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick4 a::before {
background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.43273 16.5638C5.89841 16.5638 5.45558 16.3892 5.10425 16.04C4.75268 15.6905 4.57689 15.2488 4.57689 14.7147C4.57689 14.1804 4.75161 13.7374 5.10106 13.3859C5.45027 13.0345 5.89203 12.8589 6.42635 12.8589C6.96067 12.8589 7.4035 13.0336 7.75483 13.383C8.1064 13.7322 8.28218 14.174 8.28218 14.7083C8.28218 15.2426 8.10746 15.6855 7.75802 16.0368C7.40881 16.3881 6.96705 16.5638 6.43273 16.5638ZM8.11856 28.6873H20.242V20.8138H17.4087C15.9231 20.8138 14.6663 20.3022 13.6382 19.2788C12.6102 18.2553 12.0962 17.0234 12.0962 15.5831C12.0962 14.4408 12.4258 13.416 13.085 12.5086C13.7445 11.6015 14.5918 10.9209 15.6269 10.4668C15.7867 8.95028 16.417 7.69842 17.5178 6.71124C18.6183 5.72406 19.8806 5.23047 21.3045 5.23047C22.7285 5.23047 23.9908 5.72406 25.0913 6.71124C26.192 7.69842 26.8222 8.95028 26.9818 10.4668C28.0172 10.9209 28.8645 11.6015 29.5237 12.5086C30.1831 13.416 30.5129 14.4408 30.5129 15.5831C30.5129 17.0234 29.9989 18.2553 28.9708 19.2788C27.9428 20.3022 26.686 20.8138 25.2004 20.8138H22.367V28.6873H28.3879C28.6889 28.6873 28.9412 28.7892 29.1447 28.9929C29.3485 29.1967 29.4504 29.4491 29.4504 29.7501C29.4504 30.0514 29.3485 30.3037 29.1447 30.507C28.9412 30.7105 28.6889 30.8123 28.3879 30.8123H6.02083C5.65816 30.8123 5.35405 30.6901 5.1085 30.4457C4.86318 30.2013 4.74052 29.8985 4.74052 29.5373V24.4373C4.4808 24.2774 4.20702 24.1117 3.91921 23.94C3.63115 23.7684 3.48712 23.5164 3.48712 23.1842V19.043C3.48712 18.7419 3.589 18.4896 3.79277 18.2861C3.9963 18.0824 4.24858 17.9805 4.54962 17.9805H8.3091C8.61014 17.9805 8.86255 18.0824 9.06631 18.2861C9.26984 18.4896 9.3716 18.7419 9.3716 19.043V23.1842C9.3716 23.5164 9.22769 23.7684 8.93987 23.94C8.65205 24.1117 8.37828 24.2774 8.11856 24.4373V28.6873ZM17.4087 18.6888H25.2004C26.0884 18.6888 26.8417 18.3898 27.4603 17.7917C28.0787 17.1936 28.3879 16.4574 28.3879 15.5831C28.3879 14.8821 28.1826 14.2559 27.772 13.7046C27.3616 13.1535 26.8295 12.739 26.1757 12.4611L24.9879 11.9596L24.8572 10.7282C24.7698 9.7821 24.3902 8.98346 23.7182 8.33226C23.0462 7.68107 22.2417 7.35547 21.3045 7.35547C20.3674 7.35547 19.5627 7.68107 18.8905 8.33226C18.2186 8.98346 17.839 9.7821 17.7519 10.7282L17.6212 11.9596L16.4333 12.4611C15.7795 12.739 15.2473 13.1535 14.8367 13.7046C14.4264 14.2559 14.2212 14.8821 14.2212 15.5831C14.2212 16.4574 14.5304 17.1936 15.1488 17.7917C15.7671 18.3898 16.5205 18.6888 17.4087 18.6888Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 10.4539L7.927 14.5271C7.7885 14.6655 7.61441 14.7363 7.40475 14.7396C7.19525 14.7428 7.018 14.672 6.873 14.5271C6.72816 14.3821 6.65575 14.2065 6.65575 14.0001C6.65575 13.7938 6.72816 13.6181 6.873 13.4731L11.3672 8.97889C11.4609 8.88539 11.5597 8.81939 11.6635 8.78089C11.7673 8.74239 11.8795 8.72314 12 8.72314C12.1205 8.72314 12.2327 8.74239 12.3365 8.78089C12.4403 8.81939 12.5391 8.88539 12.6327 8.97889L17.127 13.4731C17.2653 13.6116 17.3362 13.7857 17.3395 13.9954C17.3427 14.2049 17.2718 14.3821 17.127 14.5271C16.982 14.672 16.8063 14.7444 16.6 14.7444C16.3937 14.7444 16.218 14.672 16.073 14.5271L12 10.4539Z' fill='%2336A8D4'/%3E%3C/svg%3E%0A");
}
.quick_menu.dark ul li button {
    background-color: #36A8D4;
    color: #fff ;
}
.quick_menu.dark ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 11.1024L7.927 15.193C7.7885 15.332 7.61441 15.4031 7.40475 15.4064C7.19525 15.4096 7.018 15.3385 6.873 15.193C6.72816 15.0474 6.65575 14.871 6.65575 14.6638C6.65575 14.4566 6.72816 14.2801 6.873 14.1345L11.3672 9.6211C11.4609 9.5272 11.5597 9.46092 11.6635 9.42225C11.7673 9.38359 11.8795 9.36426 12 9.36426C12.1205 9.36426 12.2327 9.38359 12.3365 9.42225C12.4403 9.46092 12.5391 9.5272 12.6327 9.6211L17.127 14.1345C17.2653 14.2736 17.3362 14.4484 17.3395 14.659C17.3427 14.8694 17.2718 15.0474 17.127 15.193C16.982 15.3385 16.8063 15.4112 16.6 15.4112C16.3937 15.4112 16.218 15.3385 16.073 15.193L12 11.1024Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px) {
    .fp_nav { 
        display: none;
    }
    .quick_menu {
        display: none;
    }
}
.visual h2 {
    display: none;
}
.visual .swiper {
    width: 100vw;
    height: 100vh;
}
.visual .swiper .swiper-slide {
    height: 100vh;
    background: url(../images/main/popup_bg1.png)  no-repeat center center / cover;
    text-align: center;
    color: #fff;
}
.visual .swiper .swiper-slide.popup1 {
    background-image: url(../images/main/popup_bg1.png);
}
.visual .swiper .swiper-slide.popup2 {
    background-image: url(../images/main/popup_bg2.png);
}
.visual .swiper .swiper-slide.popup3 {
    background-image: url(../images/main/popup_bg3.png);
}
.visual .swiper .swiper-slide.popup4 {
    background-image: url(../images/main/popup_bg4.png);
}
.visual .swiper .swiper-slide .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 2px 4px rgba(0, 0,0, 0.4) ;
}
.visual .swiper .swiper-slide .inner h3 {
    font-size: 70px;
    font-weight: 700;
}
.visual .swiper .swiper-slide .inner p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}

.visual .swiper .paging {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
}
.visual .swiper .paging .item {
    width: 25%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    margin: 0;
    display: block;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: center;
    backdrop-filter: blur(5px);
    border-width: 1px 1px 0 0 ;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
}
.visual .swiper .paging .item.swiper-pagination-bullet-active,
.visual .swiper .paging .item:hover {
    background-color: #ADBA5E;
    border-color: #ADBA5E;
}

.visual .swiper .paging .item .txt1::before {
    content: "마이트리 내 나무 갖기";
}

.visual .swiper .paging .item .txt2::before {
    content: "#같이가치 #매달기부";
}
.visual .swiper .paging .item .txt3::before {
    content: "고목나무 이야기";
}
.visual .swiper .paging .item .txt4::before {
    content: "자원봉사 활동";
}
@media screen and (max-width:1024px) {
    .visual .swiper {
        height: 600px;
    }
    .visual .swiper .swiper-slide {
        height: 600px;
    }
    .visual .swiper .swiper-slide .inner {
        top: 50%;
    }
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 35px;
    }
    .visual .swiper .swiper-slide .inner p {
        font-size: 13px;
    }
    .visual .swiper .paging {
        bottom: 24px;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
    }
    .visual .swiper .paging .item {
        width: 20px;
        height: 8px;
        line-height: 0;
        font-size: 0;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 100;
        backdrop-filter: blur(5px);
        border-width: 0;
        border-color: rgba(255, 255, 255, 0.5);
        margin: 0 2px;
    }
    .visual .swiper .paging .item.swiper-pagination-bullet-active {
        width: 50px;
        background-color: #ADBA5E;
    }
}
.tree {
    background-color: #fff;
}
.forest { 
    background-color:#36A8D4;
}
.story {
    background-color: #fff;
}
footer {
    background-color: black;
    color: #fff;
    height: 1200px;
}
