@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual_popup .popup .popup_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual_popup .popup .popup_item img.mo { 
    display: none;
}
.visual_popup .popup .slick-dots {
    position: absolute;/* popup을 기준으로 정렬 */
    bottom: 33px;
    left: 47%;
    transform: translate(-50, 0);
    /* 좌우의 가운데 */
    display: flex;
    gap: 5px;
}
.visual_popup .popup .slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 26px;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}
.visual_popup .popup .slick-dots li.slick-active button {
    width: 39px;
    border-radius: 4px;
    background-color: #fff;
}
@media screen and (max-width:768px) {
        .visual_popup .popup .popup_item {
            height: 100%;
        }
        .visual_popup .popup .popup_item img.pc {
            display: none;
        }
        .visual_popup .popup .popup_item img.mo { 
            display: block;
        }
}

.menu .tit {
    text-align: center;
    margin: 80px 0 25px 0;
}
.menu .tit h2 {
    font-family: 'OG_Renaissance_Secret-Rg';
    font-size: var(--txt-size-tit );
    color: var(--txt-color-tit);
}
.menu .tit p {
    font-weight: 400;
    font-size: 16px;
}
.menu .list .popup .popup_item {
    margin: 0 12px ;
    position: relative; /* before의 정렬기준 */
    text-align: center;
    width: 333px;
}
.menu .list .popup .popup_item::before {
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    height: 260px;
    border: 2px solid #1d1d1d;
    content: "";
    z-index: -10;
}
.menu .list .popup .popup_item .photo {
    overflow: hidden;
    margin: 0 15%;
}
.menu .list .popup .popup_item .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지를 자르지 않고 모두 보이도록 */
}
.menu .list .popup .popup_item h3 {
    font-size: 1.73rem;
    font-weight: 400;
    line-height: 1.1;
    height: 2.2em; /* 행간 x2 */
    overflow: hidden;
    margin: 10px 0 40px 0;
    color: var(--txt-color-tit);
}
@media screen and (max-width:1300px) {
    .menu .list .popup .popup_item {
        width: 250px;
    }
}
@media screen and (max-width:1024px) {
    .menu .list .popup .popup_item {
        width: 230px;
        margin: 0 10px;
    }
}
@media screen and (max-width:768px) {
    .menu .list .popup .popup_item {
        width: 150px;
        margin: 0 5px;
    }
}
@media screen and (max-width:375px) {
    .menu .list .popup .popup_item {
        width: 100px;
        margin: 0 3px;
    }
}