@import url(default.css); /* default.css 불러오기 */
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../font/Pretendard-ExtraBold.woff2) format('woff2'), url(../font/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../font/Pretendard-Bold.woff2) format('woff2'), url(../font/Pretendard-Bold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../font/Pretendard-SemiBold.woff2) format('woff2'), url(../font/Pretendard-SemiBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard-Regular.woff) format('woff');
}
html, body {
    /* font family 사용하는 서체명은 font-face 에서 사용한 이름으로 사용, sans-serif는 고딕체라는 의미 */
    font-family: "Pretendard", sans-serif;
    font-size: 15px; /* 크기 */
    color: #3d3d3d; /* 색상 */
    line-height: 1.42; /* 행간 */
    font-weight: 400; /* 두께 */
    letter-spacing: -0.02em; /* 자간 */
    word-break: keep-all; /* 단어 줄바꿈 */
}
.wrapper { /* 홈페이지 넓이, 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;
}
.notice h1 {
    font-weight: 800;
    color: #1d1d1d;
    font-size: 50px;
    margin: 120px 0 25px 0;
}
.notice ul { /* 감싸는 애가 줘야함 */
    display: flex;
    justify-content: space-between;
}
/*
    li와 a사이즈를 같게 하기 위해서.....
    <li> --- 넓이값
        <a> --- 높이값
        </a> 
    </li>
    a에 높이를 주면 li는 a의 높이값을 동일하게 갖음
    감싸는 요소는 내부요소의 높이값만큼 높이가 생성됨.
    (안에 있는 것이 늘어나면 밖에 있는 것은 같이 늘어남)
*/
.notice ul li {
    width: 404px;
}
.notice ul li a {
    height: 308px;
    display: block; /* 넓이 100% */
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 35px 35px 0 35px;
}
.notice ul li a strong {
    display: block;
    font-size: 25px;
    color: #1d1d1d;
    font-weight: 800;
    margin: 0 0 30px 0;
}
.notice ul li a .memo {
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 30px 0;
}
.notice ul li a .group {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    font-size: 15px;
    font-weight: 600;
    margin:  30px 0 0 0;
    padding: 13px 0 0 0;
}
/* 마우스오버 */
.notice ul li a:hover {
    background-color: #006de9;
    color: rgba(255,255,255,0.8);
}
.notice ul li a:hover strong {
    /* hover < 마우스 오버했을때 */
    color: #fff;
}
.notice ul li a:hover .group {
    border-top: 1px solid rgba (255,255,255,0.2);
}
.bbs ul {
    display: flex;
    justify-content: space-between;
    margin: 59px 0 0 0;
}
.bbs ul li {
    width: 404px;
}
.bbs ul li a {
    background-color: #f4f4f4;
    border-radius: 25px;
    height: 311px;
    display: block;
    padding: 48px 38px 0 38px;
    border: 2px solid #f4f4f4;
    /* border값 padding값 합산값이 여백으로 들어감
    - 여백이 더 많아짐.
    border값만큼 padding에서 더 빼줘야함 */
}
/* 마우스를 오버했을때 border을 주고자 한다면
원래 border가 있는데 색상만 변경된거롤 해야함 
- 원래는 배경색하고 같은색이다가 오버하면 색상만 변경 (두께도 동일) */
.bbs ul li a:hover {
    border: 2px solid #fd3b7b;
    box-shadow: 10px 10px 20px rgba(253, 59, 123, 0.15);
}
.bbs ul li a h2 {
    font-size: 25px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 0 0 20px 0;
}
.bbs ul li a div {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;;
    margin: 30px 0 0 0;
    padding: 10px 0 0 0;
}