/* header와 footer처럼 페이지에 공통으로 나타나는 요소 */
.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /* focus가 될때만 나타나야함- 상단에 숨겨져 있어야함 */
    z-index: 99999999999999; /* 꼭 맨 상단에 배치 */
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #EA141D;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 100px; /* a가 포커스되면 올라간 만큼 다시 내려옴 */
}
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    border-bottom: 0.8px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    display: flex;
    padding: 0 28px;
    justify-content: space-between;
    align-items: flex-start;
}
header .logo {
    margin-top: 22px;
}
header .logo a {
    display: block;
    width: 124PX;
    height: 39PX;
    font-size: 0;
    line-height: 0;
    position: relative ; /* before의 정렬기준 */
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/svg/logo.svg);
    content: "";
}
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #1d1d1d ;
}
header.fixed .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='124' height='40' viewBox='0 0 124 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M101 9.13857C101 9.45648 101.046 9.78596 101.173 10.0981C101.734 11.4854 103.162 12.3408 104.978 11.6183C105.412 11.4449 117.42 6.60682 117.42 6.60682C117.42 6.60682 112.691 18.5951 112.512 19.0401C111.824 20.7569 112.65 22.3118 114.055 22.832C114.368 22.9476 114.691 23.0054 115.009 22.9996C116.16 22.9938 117.172 22.3175 117.669 20.965C117.744 20.7626 123.659 4.52593 123.786 4.13866C123.861 3.90745 124 3.3641 124 2.98839C124 2.18493 123.705 1.42772 123.133 0.855477C122.572 0.289012 121.82 0 121.028 0C120.641 0 120.329 0.069363 119.854 0.219649C119.571 0.312133 104.325 5.98256 103.024 6.4681C101.723 6.95364 101 7.99408 101.006 9.13857' fill='%23ED1C24'/%3E%3Cpath d='M70.5143 17.0847V16.6853H59.8713V19.4076H66.0548C64.444 24.5062 58.6865 27.5014 58.6865 27.5014L60.2241 29.6513C60.2241 29.6513 70.5143 25.4047 70.5143 17.078V17.0847Z' fill='black'/%3E%3Cpath d='M67.1529 35.1629V29.8713H63.3789V35.8352C63.3789 37.6988 64.8632 39.0434 66.9 39.0434H78.5946V36.3277H68.4708C67.5522 36.3277 67.1662 35.9616 67.1462 35.1629H67.1529Z' fill='black'/%3E%3Cpath d='M70.0884 21.7043V24.4266H74.5812V30.9895H78.3552V16.3994H74.5812V21.7043H70.0884Z' fill='black'/%3E%3Cpath d='M102.61 27.3352H106.383V16.2861H102.61V19.7273H98.6758V22.4163H102.61V27.3352Z' fill='black'/%3E%3Cpath d='M17.958 29.6646H3.59424V35.8347C3.59424 37.6984 5.07854 39.0429 7.11528 39.0429H18.7966V30.5032C18.7966 30.0373 18.4172 29.6646 17.958 29.6646ZM15.0227 36.3273H8.68611C7.76758 36.3273 7.37487 35.9678 7.36156 35.1624V32.3935H15.0227V36.3273Z' fill='black'/%3E%3Cpath d='M19.0496 16.7253V16.5989H3.38793V19.3212H15.1026C15.1026 19.5009 15.1026 19.7272 15.1026 19.9469C15.1026 22.4762 14.9761 24.1402 14.9095 24.8191H0V27.5414H22.97V24.8191H18.2708C18.4971 23.9671 19.0562 21.3313 19.0562 16.7253H19.0496Z' fill='black'/%3E%3Cpath d='M42.5056 31.036C45.6406 30.3504 47.9569 28.0008 47.9569 25.2186C47.9569 23.721 47.2847 22.3499 46.1798 21.2916H50.1867V18.5692H42.5056V16H38.7383V18.5692H31.0573V21.2916H35.0642C33.9593 22.3499 33.287 23.7144 33.287 25.2186C33.287 28.0075 35.6033 30.3504 38.745 31.036V33.7916H29.147V36.5139H52.1103V33.7916H42.5123V31.036H42.5056ZM37.1608 25.1321C37.1608 23.2751 38.7117 21.7575 40.6153 21.7575C42.519 21.7575 44.0698 23.2684 44.0698 25.1321C44.0698 26.9958 42.519 28.5067 40.6153 28.5067C38.7117 28.5067 37.1608 26.9958 37.1608 25.1321Z' fill='black'/%3E%3Cpath d='M95.3942 27.1022H99.0484C98.8953 26.2169 97.5575 19.0683 94.0763 16.5923H89.8631L86.6216 27.1887H90.4089L92.5654 19.5609C94.3825 21.6908 95.2678 26.4033 95.3876 27.1022H95.3942Z' fill='black'/%3E%3Cpath d='M96.1461 36.4205C95.1876 36.4205 95.0145 36.1742 95.0145 35.3622V35.0227H106.39V29.2985C106.39 28.806 106.03 28.4199 105.518 28.4199H91.3071V31.0424H102.775V32.4468H91.407V35.8348C91.407 37.7983 92.8181 39.043 94.928 39.043H106.636V36.4205H96.1461Z' fill='black'/%3E%3C/svg%3E%0A");
}
@media screen and (min-width:1025px) {
    /* 1025 이상일 경우 - pc형 */
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 158px;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /* li와 사이즈 동일 */
        line-height: 100px; /* header의 높이와 동일 */
        font-size: 22px;
        font-weight: 600;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        font-weight: 600 ;
        color: #3675B0;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a span {
        position: relative; /* after의 정렬기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a span::after {
        position: absolute;
        right: -7px;
        top: -5px;
        width: 5px;
        height: 5px;
        border: 1px solid;
        background-color: #3675B0;
        border-radius: 50%;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.active > a > span::before {
        position: absolute;
        left: 0;
        bottom: -37px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 2차 메뉴는 나중에 보임 */
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        padding-top: 12px;
        /* 1차 메뉴 a와 2차 메뉴 사이의 여백은
        반드시 padding 
        padding 안주면 2차 메뉴로 이동시 메뉴가 날라감 */
    }
    header .gnb .gnb_wrap ul.depth2 >li >a {
        display: block;
        line-height: 2.2;
        font-weight: 300;
    }
    header .gnb .gnb_wrap ul.depth2 >li >a:hover {
        font-weight: 600;
        color: #3675B0;
    }
    /* a태그 중에서 target="_blank" 이런 속성과 속성값이 선언된 a태그에게만 스타일 줌 */
    header .gnb .gnb_wrap ul.depth2 >li >a[target="_blank"] > span {
        padding-right: 18px; /* 아이콘 들어갈 자리 - 아이콘까지 포함해서 가운데 정렬하기 위해서 */
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 >li >a[target="_blank"] > span::after {
        position: absolute;
        right: 1px;
        top: 8px;
        width: 14px;
        height: 14px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.27606 12C0.919471 12 0.617647 11.8765 0.370588 11.6294C0.123529 11.3824 0 11.0805 0 10.7239V1.27606C0 0.919471 0.123529 0.617647 0.370588 0.370588C0.617647 0.123529 0.919471 0 1.27606 0H5.72841V1.05882H1.27606C1.22171 1.05882 1.17194 1.08147 1.12676 1.12676C1.08147 1.17194 1.05882 1.22171 1.05882 1.27606V10.7239C1.05882 10.7783 1.08147 10.8281 1.12676 10.8732C1.17194 10.9185 1.22171 10.9412 1.27606 10.9412H10.7239C10.7783 10.9412 10.8281 10.9185 10.8732 10.8732C10.9185 10.8281 10.9412 10.7783 10.9412 10.7239V6.27159H12V10.7239C12 11.0805 11.8765 11.3824 11.6294 11.6294C11.3824 11.8765 11.0805 12 10.7239 12H1.27606ZM4.39006 8.35377L3.64624 7.60994L10.1974 1.05882H7.41177V0H12V4.58824H10.9412V1.80265L4.39006 8.35377Z' fill='black'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 >li >a[target="_blank"] > span:hover:after {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.27606 12C0.919471 12 0.617647 11.8765 0.370588 11.6294C0.123529 11.3824 0 11.0805 0 10.7239V1.27606C0 0.919471 0.123529 0.617647 0.370588 0.370588C0.617647 0.123529 0.919471 0 1.27606 0H5.72841V1.05882H1.27606C1.22171 1.05882 1.17194 1.08147 1.12676 1.12676C1.08147 1.17194 1.05882 1.22171 1.05882 1.27606V10.7239C1.05882 10.7783 1.08147 10.8281 1.12676 10.8732C1.17194 10.9185 1.22171 10.9412 1.27606 10.9412H10.7239C10.7783 10.9412 10.8281 10.9185 10.8732 10.8732C10.9185 10.8281 10.9412 10.7783 10.9412 10.7239V6.27159H12V10.7239C12 11.0805 11.8765 11.3824 11.6294 11.6294C11.3824 11.8765 11.0805 12 10.7239 12H1.27606ZM4.39006 8.35377L3.64624 7.60994L10.1974 1.05882H7.41177V0H12V4.58824H10.9412V1.80265L4.39006 8.35377Z' fill='%233675B0'/%3E%3C/svg%3E%0A");
    } 
    header .tnb {
        display: flex;
        margin-top: 36px;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 24px ;
        /* 왼쪽에 아이콘 들어갈 자리 - 내부여백으로 처리
            아이콘을 클릭해도 링크가 적용되어야 함
            (아이콘까지 a태그이어야함) */
        position: relative;
        margin-right: 19px; /* artera와의 여백 */
    } 
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        background-image: url(../images/svg/eng.svg);
    }
    header.fixed .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 16.8125C7.36031 16.8125 6.28479 16.594 5.27344 16.1571C4.26208 15.7202 3.38008 15.1254 2.62744 14.3726C1.87465 13.6199 1.27979 12.7379 0.842875 11.7266C0.405958 10.7152 0.1875 9.63969 0.1875 8.5C0.1875 7.35127 0.405958 6.27349 0.842875 5.26666C1.27979 4.25982 1.87465 3.38008 2.62744 2.62744C3.38008 1.87465 4.26208 1.27979 5.27344 0.842875C6.28479 0.405959 7.36031 0.1875 8.5 0.1875C9.64873 0.1875 10.7265 0.405959 11.7333 0.842875C12.7402 1.27979 13.6199 1.87465 14.3726 2.62744C15.1254 3.38008 15.7202 4.25982 16.1571 5.26666C16.594 6.27349 16.8125 7.35127 16.8125 8.5C16.8125 9.63969 16.594 10.7152 16.1571 11.7266C15.7202 12.7379 15.1254 13.6199 14.3726 14.3726C13.6199 15.1254 12.7402 15.7202 11.7333 16.1571C10.7265 16.594 9.64873 16.8125 8.5 16.8125ZM8.5 15.4814C8.94654 14.8892 9.32235 14.2918 9.62744 13.6894C9.93252 13.087 10.181 12.4285 10.3729 11.7139H6.62706C6.83021 12.4509 7.08155 13.1207 7.38109 13.7231C7.68049 14.3255 8.05346 14.9116 8.5 15.4814ZM6.80556 15.2408C6.47015 14.7595 6.16893 14.2124 5.90191 13.5995C5.63489 12.9864 5.42736 12.3579 5.27934 11.7139H2.31113C2.77327 12.6226 3.39306 13.386 4.1705 14.0042C4.94794 14.6222 5.82629 15.0344 6.80556 15.2408ZM10.1944 15.2408C11.1737 15.0344 12.0521 14.6222 12.8295 14.0042C13.6069 13.386 14.2267 12.6226 14.6889 11.7139H11.7207C11.5445 12.3634 11.3229 12.9947 11.0559 13.6078C10.789 14.2209 10.5019 14.7652 10.1944 15.2408ZM1.76075 10.4014H5.01356C4.95858 10.0762 4.9187 9.7573 4.89391 9.44478C4.86926 9.13241 4.85694 8.81748 4.85694 8.5C4.85694 8.18252 4.86926 7.86759 4.89391 7.55522C4.9187 7.2427 4.95858 6.92383 5.01356 6.59863H1.76075C1.6766 6.89583 1.61215 7.20485 1.56738 7.52569C1.52246 7.84652 1.5 8.17129 1.5 8.5C1.5 8.82871 1.52246 9.15348 1.56738 9.47431C1.61215 9.79515 1.6766 10.1042 1.76075 10.4014ZM6.32584 10.4014H10.6742C10.729 10.0762 10.7688 9.76015 10.7936 9.45331C10.8182 9.14648 10.8306 8.82871 10.8306 8.5C10.8306 8.17129 10.8182 7.85352 10.7936 7.54669C10.7688 7.23985 10.729 6.92383 10.6742 6.59863H6.32584C6.27101 6.92383 6.2312 7.23985 6.20641 7.54669C6.18176 7.85352 6.16944 8.17129 6.16944 8.5C6.16944 8.82871 6.18176 9.14648 6.20641 9.45331C6.2312 9.76015 6.27101 10.0762 6.32584 10.4014ZM11.9864 10.4014H15.2393C15.3234 10.1042 15.3879 9.79515 15.4326 9.47431C15.4775 9.15348 15.5 8.82871 15.5 8.5C15.5 8.17129 15.4775 7.84652 15.4326 7.52569C15.3879 7.20485 15.3234 6.89583 15.2393 6.59863H11.9864C12.0414 6.92383 12.0813 7.2427 12.1061 7.55522C12.1307 7.86759 12.1431 8.18252 12.1431 8.5C12.1431 8.81748 12.1307 9.13241 12.1061 9.44478C12.0813 9.7573 12.0414 10.0762 11.9864 10.4014ZM11.7207 5.28613H14.6889C14.2212 4.36621 13.6056 3.60277 12.8422 2.99581C12.0787 2.389 11.1962 1.97396 10.1944 1.75069C10.5299 2.25994 10.8282 2.81695 11.0896 3.42172C11.351 4.02634 11.5614 4.64781 11.7207 5.28613ZM6.62706 5.28613H10.3729C10.1698 4.55463 9.91429 3.88066 9.60644 3.26422C9.29844 2.64778 8.92962 2.06591 8.5 1.51859C8.07037 2.06591 7.70156 2.64778 7.39356 3.26422C7.08571 3.88066 6.83021 4.55463 6.62706 5.28613ZM2.31113 5.28613H5.27934C5.43859 4.64781 5.64896 4.02634 5.91044 3.42172C6.17177 2.81695 6.47015 2.25994 6.80556 1.75069C5.79815 1.97396 4.91418 2.39046 4.15366 3.00019C3.39299 3.60977 2.77881 4.37175 2.31113 5.28613Z' fill='black'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .lang:hover {
        color: rgba(54, 117, 176, 1);
    }
    header.fixed .tnb .lang:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 16.8125C7.36031 16.8125 6.28479 16.594 5.27344 16.1571C4.26208 15.7202 3.38008 15.1254 2.62744 14.3726C1.87465 13.6199 1.27979 12.7379 0.842875 11.7266C0.405958 10.7152 0.1875 9.63969 0.1875 8.5C0.1875 7.35127 0.405958 6.27349 0.842875 5.26666C1.27979 4.25982 1.87465 3.38008 2.62744 2.62744C3.38008 1.87465 4.26208 1.27979 5.27344 0.842875C6.28479 0.405959 7.36031 0.1875 8.5 0.1875C9.64873 0.1875 10.7265 0.405959 11.7333 0.842875C12.7402 1.27979 13.6199 1.87465 14.3726 2.62744C15.1254 3.38008 15.7202 4.25982 16.1571 5.26666C16.594 6.27349 16.8125 7.35127 16.8125 8.5C16.8125 9.63969 16.594 10.7152 16.1571 11.7266C15.7202 12.7379 15.1254 13.6199 14.3726 14.3726C13.6199 15.1254 12.7402 15.7202 11.7333 16.1571C10.7265 16.594 9.64873 16.8125 8.5 16.8125ZM8.5 15.4814C8.94654 14.8892 9.32235 14.2918 9.62744 13.6894C9.93252 13.087 10.181 12.4285 10.3729 11.7139H6.62706C6.83021 12.4509 7.08155 13.1207 7.38109 13.7231C7.68049 14.3255 8.05346 14.9116 8.5 15.4814ZM6.80556 15.2408C6.47015 14.7595 6.16893 14.2124 5.90191 13.5995C5.63489 12.9864 5.42736 12.3579 5.27934 11.7139H2.31113C2.77327 12.6226 3.39306 13.386 4.1705 14.0042C4.94794 14.6222 5.82629 15.0344 6.80556 15.2408ZM10.1944 15.2408C11.1737 15.0344 12.0521 14.6222 12.8295 14.0042C13.6069 13.386 14.2267 12.6226 14.6889 11.7139H11.7207C11.5445 12.3634 11.3229 12.9947 11.0559 13.6078C10.789 14.2209 10.5019 14.7652 10.1944 15.2408ZM1.76075 10.4014H5.01356C4.95858 10.0762 4.9187 9.7573 4.89391 9.44478C4.86926 9.13241 4.85694 8.81748 4.85694 8.5C4.85694 8.18252 4.86926 7.86759 4.89391 7.55522C4.9187 7.2427 4.95858 6.92383 5.01356 6.59863H1.76075C1.6766 6.89583 1.61215 7.20485 1.56738 7.52569C1.52246 7.84652 1.5 8.17129 1.5 8.5C1.5 8.82871 1.52246 9.15348 1.56738 9.47431C1.61215 9.79515 1.6766 10.1042 1.76075 10.4014ZM6.32584 10.4014H10.6742C10.729 10.0762 10.7688 9.76015 10.7936 9.45331C10.8182 9.14648 10.8306 8.82871 10.8306 8.5C10.8306 8.17129 10.8182 7.85352 10.7936 7.54669C10.7688 7.23985 10.729 6.92383 10.6742 6.59863H6.32584C6.27101 6.92383 6.2312 7.23985 6.20641 7.54669C6.18176 7.85352 6.16944 8.17129 6.16944 8.5C6.16944 8.82871 6.18176 9.14648 6.20641 9.45331C6.2312 9.76015 6.27101 10.0762 6.32584 10.4014ZM11.9864 10.4014H15.2393C15.3234 10.1042 15.3879 9.79515 15.4326 9.47431C15.4775 9.15348 15.5 8.82871 15.5 8.5C15.5 8.17129 15.4775 7.84652 15.4326 7.52569C15.3879 7.20485 15.3234 6.89583 15.2393 6.59863H11.9864C12.0414 6.92383 12.0813 7.2427 12.1061 7.55522C12.1307 7.86759 12.1431 8.18252 12.1431 8.5C12.1431 8.81748 12.1307 9.13241 12.1061 9.44478C12.0813 9.7573 12.0414 10.0762 11.9864 10.4014ZM11.7207 5.28613H14.6889C14.2212 4.36621 13.6056 3.60277 12.8422 2.99581C12.0787 2.389 11.1962 1.97396 10.1944 1.75069C10.5299 2.25994 10.8282 2.81695 11.0896 3.42172C11.351 4.02634 11.5614 4.64781 11.7207 5.28613ZM6.62706 5.28613H10.3729C10.1698 4.55463 9.91429 3.88066 9.60644 3.26422C9.29844 2.64778 8.92962 2.06591 8.5 1.51859C8.07038 2.06591 7.70156 2.64778 7.39356 3.26422C7.08571 3.88066 6.83021 4.55463 6.62706 5.28613ZM2.31113 5.28613H5.27934C5.43859 4.64781 5.64896 4.02634 5.91044 3.42172C6.17177 2.81695 6.47015 2.25994 6.80556 1.75069C5.79815 1.97396 4.91418 2.39046 4.15366 3.00019C3.39299 3.60977 2.77881 4.37175 2.31113 5.28613Z' fill='%233675B0'/%3E%3C/svg%3E%0A");
    }
    header .tnb .atera {
        display: block;
        width: 100px ;
        height: 28px ;
        line-height: 28px ;
        /* 행간과 높이를 동일하게 주면 글자가 위아래 가운데
        왼족 여백은 padding으로 주면 됨 */
        padding-left: 13px ;
        border: 1px solid rgba(255,255,255,0.8);
        border-radius: 15px;
        position: relative;
    }
    header .tnb .atera::after {
        position: absolute;
        right: 16px;
        top: 7px;
        width: 14px;
        height: 14px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.64428 14.9375C1.20226 14.9375 0.828125 14.7844 0.521875 14.4781C0.215625 14.1719 0.0625 13.7977 0.0625 13.3557V1.64428C0.0625 1.20226 0.215625 0.828125 0.521875 0.521875C0.828125 0.215625 1.20226 0.0625 1.64428 0.0625H7.16334V1.375H1.64428C1.57691 1.375 1.51522 1.40307 1.45922 1.45922C1.40307 1.51522 1.375 1.57691 1.375 1.64428V13.3557C1.375 13.4231 1.40307 13.4848 1.45922 13.5408C1.51522 13.5969 1.57691 13.625 1.64428 13.625H13.3557C13.4231 13.625 13.4848 13.5969 13.5408 13.5408C13.5969 13.4848 13.625 13.4231 13.625 13.3557V7.83666H14.9375V13.3557C14.9375 13.7977 14.7844 14.1719 14.4781 14.4781C14.1719 14.7844 13.7977 14.9375 13.3557 14.9375H1.64428ZM5.50434 10.4177L4.58231 9.49566L12.703 1.375H9.25V0.0625H14.9375V5.75H13.625V2.29703L5.50434 10.4177Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .atera::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.64428 14.9375C1.20226 14.9375 0.828125 14.7844 0.521875 14.4781C0.215625 14.1719 0.0625 13.7977 0.0625 13.3557V1.64428C0.0625 1.20226 0.215625 0.828125 0.521875 0.521875C0.828125 0.215625 1.20226 0.0625 1.64428 0.0625H7.16334V1.375H1.64428C1.57691 1.375 1.51522 1.40307 1.45922 1.45922C1.40307 1.51522 1.375 1.57691 1.375 1.64428V13.3557C1.375 13.4231 1.40307 13.4848 1.45922 13.5408C1.51522 13.5969 1.57691 13.625 1.64428 13.625H13.3557C13.4231 13.625 13.4848 13.5969 13.5408 13.5408C13.5969 13.4848 13.625 13.4231 13.625 13.3557V7.83666H14.9375V13.3557C14.9375 13.7977 14.7844 14.1719 14.4781 14.4781C14.1719 14.7844 13.7977 14.9375 13.3557 14.9375H1.64428ZM5.50434 10.4177L4.58231 9.49566L12.703 1.375H9.25V0.0625H14.9375V5.75H13.625V2.29703L5.50434 10.4177Z' fill='black'/%3E%3C/svg%3E%0A");
    }
    header .tnb .atera:hover {
        color: #fff;
        border: 1px solid rgba(54, 117, 176, 1) ;
        background-color: rgba(54, 117, 176, 1);
    }
    header.fixed .tnb .atera {
        color: #1d1d1d; 
        border: 1px solid rgba(0, 0, 0, 1) ;
    }
    header.fixed .tnb .atera:hover {
        color: #fff;
        border: 1px solid rgba(54, 117, 176, 1) ;
        background-color: rgba(54, 117, 176, 1);
    }
    header .tnb .atera:hover:after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.64428 14.9375C1.20226 14.9375 0.828125 14.7844 0.521875 14.4781C0.215625 14.1719 0.0625 13.7977 0.0625 13.3557V1.64428C0.0625 1.20226 0.215625 0.828125 0.521875 0.521875C0.828125 0.215625 1.20226 0.0625 1.64428 0.0625H7.16334V1.375H1.64428C1.57691 1.375 1.51522 1.40307 1.45922 1.45922C1.40307 1.51522 1.375 1.57691 1.375 1.64428V13.3557C1.375 13.4231 1.40307 13.4848 1.45922 13.5408C1.51522 13.5969 1.57691 13.625 1.64428 13.625H13.3557C13.4231 13.625 13.4848 13.5969 13.5408 13.5408C13.5969 13.4848 13.625 13.4231 13.625 13.3557V7.83666H14.9375V13.3557C14.9375 13.7977 14.7844 14.1719 14.4781 14.4781C14.1719 14.7844 13.7977 14.9375 13.3557 14.9375H1.64428ZM5.50434 10.4177L4.58231 9.49566L12.703 1.375H9.25V0.0625H14.9375V5.75H13.625V2.29703L5.50434 10.4177Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴에 마우스를 오버한 경우 */
    header.menu_over::before {
        position: absolute; /* header을 기준으로 */
        left: 0;
        top: 0;
        /* 정렬의 기준이 되는 haeder 내부에서
        가장 하단으로 배차한다는 명령 */
        z-index: -1;
        width: 100%;
        height: 416px;
        background-color: #fff;
        box-shadow: 0 3px 9px rgba(5, 5, 5, 0.1);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 0.8px;
        background-color: rgba(0, 0, 0, 0.38);
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}/*media*/
@media screen and (max-width:1300px) and (min-width:1025px)  {
            /* 1300px 이하 1025 이상 */
            header .gnb .gnb_wrap ul.depth1 > li > a {
                font-size: 20px;
            }
            header .gnb .gnb_wrap ul.depth1 > li.on > a {
                font-size: 15px;
            }
} /*media*/

@media screen and (max-width:1024px) { /* 1024px이하 - 모바일버전*/
            header .gnb .gnb_open {
                position: absolute; /* header을 기준으로 정렬 */
                right: 0;
                top: 0;
                width: 60px;
                height: 100%;
                font-size: 0;
                line-height: 0;
            }
            header .gnb .gnb_open::before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) ;
                width: 25px;
                height: 25px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 10V8.33333H15.5V10H0.5ZM0.5 5.83333V4.16667H15.5V5.83333H0.5ZM0.5 1.66667V0H15.5V1.66667H0.5Z' fill='white'/%3E%3C/svg%3E%0A");
                content: "";
            }
            header.fixed .gnb .gnb_open::before {
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12V10H18V12H0ZM0 7V5H18V7H0ZM0 2V0H18V2H0Z' fill='black'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap {
                display: none;
                position: absolute; /* header을 기준으로 정렬 */
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh; /* 브라우저 높이 */
                background-color: #fff;
                color: #1d1d1d;
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin-top: 100px; /* header 높이 만큼 */
                height: calc(100vh - 100px);
                overflow-y: auto;
                /* 좌우 스크롤바는 금지,  세로 스크롤바는
                 만약 내부 콘텐츠의 길이가 높이보다 길면 스크롤바 생김 */
            }
            header .gnb .gnb_wrap ul.depth1 > li {
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
            }
            header .gnb .gnb_wrap ul.depth1 > li:first-child {
                border-top: 0.5px solid rgba(0, 0, 0, 0.5) ;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                line-height: 3;
                font-size: 20px;
                font-weight: 600;
                padding: 0 25px;
                position: relative;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                position: absolute;
                right: 25px;
                top: 18px;
                width: 19px;
                height: 19px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 1.7749L10 11.7749L-4.37114e-07 1.7749L1.775 -9.8306e-05L10 8.2249L18.225 -9.90251e-05L20 1.7749Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
                content: "";
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: rgba(54, 117, 176, 1);
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-4.37114e-07 10L10 -4.37114e-07L20 10L18.225 11.775L10 3.55L1.775 11.775L-4.37114e-07 10Z' fill='%233675B0'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth2 {
                display: none; /* 숨김 */
                background-color: rgba(246, 246, 246, 1);
                padding: 15px 39px;
            }  
            header .gnb .gnb_wrap .open ul.depth2 {
                display: block; /* 나타남 */
            }
            header .gnb .gnb_wrap ul.depth2 > li > a {
                display: block;
                line-height: 2;
                font-size: 15px;
            }
            header .gnb .gnb_wrap ul.depth2 > li.active > a {
                color: #3675B0;
                font-weight: 600;
            }
            header .gnb .gnb_close {
                display: none;
                position: absolute; /* header을 기준으로 정렬 */
                right: 0;
                top: 0;
                width: 60px;
                height: 100%;
                font-size: 0;
                line-height: 0;
            }
            header .gnb .gnb_close::before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) ;
                width: 25px;
                height: 25px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.4 14L0 12.6L5.6 7L0 1.4L1.4 0L7 5.6L12.6 0L14 1.4L8.4 7L14 12.6L12.6 14L7 8.4L1.4 14Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
                content: "";
            }
            header .tnb {
                display: none; 
                position: absolute;
                left: 18px;
                top: 40px;
                color: #1d1d1d;
                align-items: center;
            }
            header .tnb .lang {
                display: block;
                padding-left: 24px;
                position: relative;
                color: rgba(0, 0, 0, 0.9);
                font-weight: 600;
                margin: 0 12px 0 0;
            }
            header .tnb .lang::before { 
                position: absolute;
                left: 0;
                top: 4px;
                width: 16px;
                height: 16px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 16.8125C7.36031 16.8125 6.28479 16.594 5.27344 16.1571C4.26208 15.7202 3.38008 15.1254 2.62744 14.3726C1.87465 13.6199 1.27979 12.7379 0.842875 11.7266C0.405958 10.7152 0.1875 9.63969 0.1875 8.5C0.1875 7.35127 0.405958 6.27349 0.842875 5.26666C1.27979 4.25982 1.87465 3.38008 2.62744 2.62744C3.38008 1.87465 4.26208 1.27979 5.27344 0.842875C6.28479 0.405959 7.36031 0.1875 8.5 0.1875C9.64873 0.1875 10.7265 0.405959 11.7333 0.842875C12.7402 1.27979 13.6199 1.87465 14.3726 2.62744C15.1254 3.38008 15.7202 4.25982 16.1571 5.26666C16.594 6.27349 16.8125 7.35127 16.8125 8.5C16.8125 9.63969 16.594 10.7152 16.1571 11.7266C15.7202 12.7379 15.1254 13.6199 14.3726 14.3726C13.6199 15.1254 12.7402 15.7202 11.7333 16.1571C10.7265 16.594 9.64873 16.8125 8.5 16.8125ZM8.5 15.4814C8.94654 14.8892 9.32235 14.2918 9.62744 13.6894C9.93252 13.087 10.181 12.4285 10.3729 11.7139H6.62706C6.83021 12.4509 7.08155 13.1207 7.38109 13.7231C7.68049 14.3255 8.05346 14.9116 8.5 15.4814ZM6.80556 15.2408C6.47015 14.7595 6.16893 14.2124 5.90191 13.5995C5.63489 12.9864 5.42736 12.3579 5.27934 11.7139H2.31113C2.77327 12.6226 3.39306 13.386 4.1705 14.0042C4.94794 14.6222 5.82629 15.0344 6.80556 15.2408ZM10.1944 15.2408C11.1737 15.0344 12.0521 14.6222 12.8295 14.0042C13.6069 13.386 14.2267 12.6226 14.6889 11.7139H11.7207C11.5445 12.3634 11.3229 12.9947 11.0559 13.6078C10.789 14.2209 10.5019 14.7652 10.1944 15.2408ZM1.76075 10.4014H5.01356C4.95858 10.0762 4.9187 9.7573 4.89391 9.44478C4.86926 9.13241 4.85694 8.81748 4.85694 8.5C4.85694 8.18252 4.86926 7.86759 4.89391 7.55522C4.9187 7.2427 4.95858 6.92383 5.01356 6.59863H1.76075C1.6766 6.89583 1.61215 7.20485 1.56738 7.52569C1.52246 7.84652 1.5 8.17129 1.5 8.5C1.5 8.82871 1.52246 9.15348 1.56738 9.47431C1.61215 9.79515 1.6766 10.1042 1.76075 10.4014ZM6.32584 10.4014H10.6742C10.729 10.0762 10.7688 9.76015 10.7936 9.45331C10.8182 9.14648 10.8306 8.82871 10.8306 8.5C10.8306 8.17129 10.8182 7.85352 10.7936 7.54669C10.7688 7.23985 10.729 6.92383 10.6742 6.59863H6.32584C6.27101 6.92383 6.2312 7.23985 6.20641 7.54669C6.18176 7.85352 6.16944 8.17129 6.16944 8.5C6.16944 8.82871 6.18176 9.14648 6.20641 9.45331C6.2312 9.76015 6.27101 10.0762 6.32584 10.4014ZM11.9864 10.4014H15.2393C15.3234 10.1042 15.3879 9.79515 15.4326 9.47431C15.4775 9.15348 15.5 8.82871 15.5 8.5C15.5 8.17129 15.4775 7.84652 15.4326 7.52569C15.3879 7.20485 15.3234 6.89583 15.2393 6.59863H11.9864C12.0414 6.92383 12.0813 7.2427 12.1061 7.55522C12.1307 7.86759 12.1431 8.18252 12.1431 8.5C12.1431 8.81748 12.1307 9.13241 12.1061 9.44478C12.0813 9.7573 12.0414 10.0762 11.9864 10.4014ZM11.7207 5.28613H14.6889C14.2212 4.36621 13.6056 3.60277 12.8422 2.99581C12.0787 2.389 11.1962 1.97396 10.1944 1.75069C10.5299 2.25994 10.8282 2.81695 11.0896 3.42172C11.351 4.02634 11.5614 4.64781 11.7207 5.28613ZM6.62706 5.28613H10.3729C10.1698 4.55463 9.91429 3.88066 9.60644 3.26422C9.29844 2.64778 8.92962 2.06591 8.5 1.51859C8.07037 2.06591 7.70156 2.64778 7.39356 3.26422C7.08571 3.88066 6.83021 4.55463 6.62706 5.28613ZM2.31113 5.28613H5.27934C5.43859 4.64781 5.64896 4.02634 5.91044 3.42172C6.17177 2.81695 6.47015 2.25994 6.80556 1.75069C5.79815 1.97396 4.91418 2.39046 4.15366 3.00019C3.39299 3.60977 2.77881 4.37175 2.31113 5.28613Z' fill='black'/%3E%3C/svg%3E%0A");
                content: "";
            }
            header .tnb .atera {
                width: 88px;
                height: 25px;
                line-height: 24px;
                border: 1px solid rgba(0, 0, 0, 0.9);
                border-radius: 30px;
                padding-left: 12px;
                position: relative;
            } 
            header .tnb .atera::before { 
                position: absolute;
                right: 10px;
                top: 3px;
                width: 16px;
                height: 16px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.64428 14.9375C1.20226 14.9375 0.828125 14.7844 0.521875 14.4781C0.215625 14.1719 0.0625 13.7977 0.0625 13.3557V1.64428C0.0625 1.20226 0.215625 0.828125 0.521875 0.521875C0.828125 0.215625 1.20226 0.0625 1.64428 0.0625H7.16334V1.375H1.64428C1.57691 1.375 1.51522 1.40307 1.45922 1.45922C1.40307 1.51522 1.375 1.57691 1.375 1.64428V13.3557C1.375 13.4231 1.40307 13.4848 1.45922 13.5408C1.51522 13.5969 1.57691 13.625 1.64428 13.625H13.3557C13.4231 13.625 13.4848 13.5969 13.5408 13.5408C13.5969 13.4848 13.625 13.4231 13.625 13.3557V7.83666H14.9375V13.3557C14.9375 13.7977 14.7844 14.1719 14.4781 14.4781C14.1719 14.7844 13.7977 14.9375 13.3557 14.9375H1.64428ZM5.50434 10.4177L4.58231 9.49566L12.703 1.375H9.25V0.0625H14.9375V5.75H13.625V2.29703L5.50434 10.4177Z' fill='black'/%3E%3C/svg%3E%0A");
                content: "";
            }
            header.menu_open .gnb .gnb_open {
                display: none;
            }
            header.menu_open .gnb .gnb_wrap {
                display: block;
            }
            header.menu_open .gnb .gnb_close {
                display: block;
            }
            header.menu_open .tnb {
                display: flex;
            }
} /*media*/

@media screen and (max-width:768px) {
        header {
            height: 50px;
        }
        header .logo {
            margin-top: 10px;
        }
        header .logo a {
            width: 72PX;
            height: 26PX;
        }
        header .gnb .gnb_open::before {
            width: 24px;
            height: 24px;
        }
        header .gnb .gnb_close::before {
            width: 20px;
            height: 20px; 
        }
        header .gnb .gnb_wrap ul.depth1 {
            margin-top: 50px; /* header 높이 만큼 */
            height: calc(100vh - 50px);
        }
        header .tnb {
            display: none; 
            position: absolute;
            left: 18px;
            top: 11px;
            color: #1d1d1d;
            align-items: center;
        }
        header .tnb .lang {
            display: block;
            padding-left: 24px;
            position: relative;
            color: rgba(0, 0, 0, 0.9);
            font-weight: 600;
            margin: 2px 12px 0 0;
        }
        header .tnb .lang::before { 
            top: 0px;
        }
} /*media*/


/*media*/
footer {
    padding: 90px 0;
    background-color: #2D2D2D;
    color: rgba(255,255,255,0.8);
}

footer .wrapper {
    position: relative;
    /* family_site와 youtube 정렬의 기준 */
}

footer .youtube {
    position: absolute;
    right: 0;
    top: -130px;
}

footer .youtube a {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #EA141D;
    padding-top: 40px;
    text-align: center;
    letter-spacing: -0.05em;
    line-height: 1;
    position: relative;
    /* before 정렬의 기준 */
}

footer .youtube a::before {
    position: absolute;
    left: 50%;
    top: 17px;
    transform: translate(-50%, 0);
    width: 23px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_153)'%3E%3Cpath d='M23.5 5.01342C23.5 2.24152 21.2381 0 18.4552 0H5.54475C2.76188 0 0.5 2.24783 0.5 5.01342V10.9803C0.5 13.7522 2.76188 15.9937 5.54475 15.9937H18.4489C21.2381 15.9937 23.4936 13.7459 23.4936 10.9803V5.01342H23.5ZM15.9075 8.4483L10.1193 11.296C9.89061 11.4159 9.12182 11.2518 9.12182 10.9992V5.15864C9.12182 4.89976 9.89696 4.7356 10.1257 4.86188L15.666 7.85477C15.9011 7.98737 16.1425 8.32202 15.9075 8.4483Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_153'%3E%3Crect width='23' height='16' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}

footer .family_site {
    position: absolute;
    right: 0;
    top: 0;
    width: 187px;
}

footer .family_site button {
    width: 100%;
    height: 42px;
    background-color: rgba(29,29,29,0.8);
    border: 1px solid #1d1d1d;
    text-align: left;
    padding-left: 21px;
    position: relative;
    /* after 정렬의 기준 */
}

footer .family_site button::after {
    position: absolute;
    right: 16px;
    top: 18px;
    width: 11px;
    height: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.49953 1.22499L1.4193 5.30523C1.31168 5.41284 1.18498 5.46529 1.03918 5.46259C0.893291 5.45979 0.766542 5.40458 0.658931 5.29697C0.55132 5.18927 0.497514 5.06252 0.497514 4.91672C0.497514 4.77092 0.55132 4.64417 0.658931 4.53647L4.8058 0.381346C4.90375 0.283395 5.01348 0.210811 5.13499 0.163596C5.25651 0.116381 5.37802 0.0927732 5.49953 0.0927732C5.62105 0.0927732 5.74256 0.116381 5.86408 0.163596C5.98559 0.210811 6.09532 0.283395 6.19327 0.381346L10.3485 4.53647C10.4561 4.64417 10.5086 4.77232 10.5058 4.92092C10.503 5.06952 10.4477 5.19762 10.3401 5.30523C10.2325 5.41284 10.1058 5.46665 9.95989 5.46665C9.81409 5.46665 9.68738 5.41284 9.57977 5.30523L5.49953 1.22499Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}

footer .family_site button.family_close::after {
    transform: rotate(180deg);
}

footer .family_site ul {
    display: none;
    /* 숨김 */
    position: absolute;
    /* family_site를 기준으로 정렬 */
    left: 0;
    bottom: 43px;
    width: 100%;
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    padding: 10px 20px;
}

footer .family_site ul li a {
    display: block;
    line-height: 2;
}

footer .family_site .family_close {
    display: none;
    /* 숨김 */
}

footer .family_site.open .family_open {
    display: none;
    /* 숨김 */
}

footer .family_site.open .family_close {
    display: block;
    /* 나타남 */
}

footer .f_nav ul {
    display: flex;
}

footer .f_nav ul li {
    margin-right: 35px;
    position: relative;
    /* after 정렬의 기준 */
}

footer .f_nav ul li::after {
    position: absolute;
    right: -20px;
    top: 5px;
    width: 1px;
    height: 11px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}

footer .f_nav ul li:last-child::after {
    display: none;
}

footer .copyright {
    margin-top: 15px;
    color: rgba(255,255,255,0.6);
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1024px) {
    footer {
        padding: 0 0 58px 0;
    }

    footer .youtube {
        position: relative;
        right: auto;
        top: -40px;
        text-align: center;
    }

    footer .youtube a {
        display: inline-block;
    }

    footer .family_site {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
    }

    footer .f_nav {
        margin: 30px 0 0 0;
    }

    footer .f_nav ul {
        flex-wrap: wrap;
        /* 줄바꿈 허용 */
    }

    footer .f_nav ul li {
        margin: 0 30px 7px 0;
    }

    footer .f_nav ul li::after {
        right: -17px;
        top: 5px;
        height: 9px;
    }

    footer .copyright {
        margin-top: 23px;
    }
}

@media screen and (max-width: 768px) {
}

/* 서브페이지 레이아웃 코딩 */
.sub_visual {
    height: 400px;
    background: url(../images/common/sub_visual01.png) no-repeat center center / cover ;
    color: #fff;
}
/* 1차메뉴마다 배경이 다른 이미지가 적용
    bg1 - 회사소개
    bg2 - esg
    bg3 - 사업분야
    bg4 - IR 
    bg5 - 홍보센터
    기본적으로 하나의 이미지는 미리 적용 */
.sub_visual.bg1 {
    background-image: url(../images/common/sub_visual01.png);
}
.sub_visual.bg2 {
    background-image: url(../images/common/sub_visual02.png);
}
.sub_visual.bg3 {
    background-image: url(../images/common/sub_visual03.png);
}
.sub_visual.bg4 {
    background-image: url(../images/common/sub_visual04.png);
}
.sub_visual.bg5 {
    background-image: url(../images/common/sub_visual05.png);
}
.sub_visual strong {
    display: block;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.1;
    padding: 227px 0 11px 0;
}
.sub_menu {
    background-color: #3675B0 ;
    color: #fff;
    height: 50px;
}
.sub_menu .wrapper {
    display: flex;
    justify-content: space-between;
}
.sub_menu .lnb ul {
    display: flex;
}
.sub_menu .lnb ul li a {
    display: block;
    line-height: 50px;
    padding: 0 15px;
    white-space: nowrap;
}
.sub_menu .lnb ul li:first-child a {
    padding-left: 0;
}
.sub_menu .lnb ul li.active a,
.sub_menu .lnb ul li a:hover {
    font-weight: 600;
    position: relative; /* after의 정렬기준 */
}
.sub_menu .lnb ul li.active a::after,
.sub_menu .lnb ul li a:hover::after {
    position: absolute;
    right: 8px;
    top: 15px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color:  #fff;
    content: "";
}
.sub_menu .breadcrumb ol {
    display: flex;
}
.sub_menu .breadcrumb ol li a {
    display: block;
    line-height: 50px;
    font-weight: 400;
}
.sub_menu .breadcrumb ol li {
    margin-right: 22px;
    position: relative; /* after 정렬의 기준 */
}
.sub_menu .breadcrumb ol li:last-child {
    margin-right: 0;

}
.sub_menu .breadcrumb ol li::after {
    position: absolute;
    right: -18px;
    top: 15px;
    width: 14px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.17959 5.00016L3.04094 1.86152C2.95816 1.77874 2.91785 1.6802 2.92 1.56589C2.92216 1.45159 2.96462 1.35301 3.0474 1.27016C3.13018 1.18738 3.22872 1.146 3.34302 1.146C3.45733 1.146 3.55591 1.18738 3.63875 1.27016L6.82865 4.46652C6.90393 4.54186 6.95973 4.62627 6.99604 4.71975C7.03243 4.81322 7.05063 4.90669 7.05063 5.00016C7.05063 5.09364 7.03243 5.18711 6.99604 5.28058C6.95973 5.37405 6.90393 5.45846 6.82865 5.53381L3.6323 8.73016C3.54952 8.81294 3.45205 8.85325 3.3399 8.8511C3.22768 8.84895 3.13018 8.80648 3.0474 8.7237C2.96462 8.64093 2.92323 8.54239 2.92323 8.42808C2.92323 8.31377 2.96462 8.2152 3.0474 8.13235L6.17959 5.00016Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}
.sub_menu .breadcrumb ol li:last-child:after {
    display: none;
}
.sub_menu .breadcrumb ol li.home a {
    font-size: 0;
    line-height: 0;
    width: 15px;
    height: 45px;
    position: relative;
}
.sub_menu .breadcrumb ol li.home a::before {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9.9615H3.23083V6.6025C3.23083 6.43183 3.28856 6.28872 3.404 6.17317C3.51956 6.05772 3.66267 6 3.83333 6H6.16667C6.33733 6 6.48044 6.05772 6.596 6.17317C6.71144 6.28872 6.76917 6.43183 6.76917 6.6025V9.9615H9V4.064C9 4.02989 8.9925 3.99894 8.9775 3.97117C8.96261 3.94339 8.94233 3.91878 8.91667 3.89733L5.12183 1.04483C5.08761 1.01494 5.047 1 5 1C4.953 1 4.91239 1.01494 4.87817 1.04483L1.08333 3.89733C1.05767 3.91878 1.03739 3.94339 1.0225 3.97117C1.0075 3.99894 1 4.02989 1 4.064V9.9615ZM0 9.9615V4.064C0 3.87322 0.0426665 3.6925 0.128 3.52183C0.213444 3.35106 0.331444 3.21044 0.482 3.1L4.277 0.241C4.48756 0.0803337 4.72822 0 4.999 0C5.26978 0 5.51111 0.0803337 5.723 0.241L9.518 3.1C9.66856 3.21044 9.78656 3.35106 9.872 3.52183C9.95733 3.6925 10 3.87322 10 4.064V9.9615C10 10.2342 9.9015 10.469 9.7045 10.666C9.5075 10.863 9.27267 10.9615 9 10.9615H6.37183C6.20106 10.9615 6.05794 10.9037 5.9425 10.7882C5.82694 10.6727 5.76917 10.5296 5.76917 10.3588V7H4.23083V10.3588C4.23083 10.5296 4.17306 10.6727 4.0575 10.7882C3.94206 10.9037 3.79894 10.9615 3.62817 10.9615H1C0.727333 10.9615 0.4925 10.863 0.2955 10.666C0.0984999 10.469 0 10.2342 0 9.9615Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
.sub_menu .breadcrumb ol li.now a::after {
    position: absolute;
    left: 1px;
    bottom: 13px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    content: "";
}
.sub_contents {
    min-height: 400px;
    /* 콘텐츠의 최소높이 
      - 아직 콘텐츠를 코딩하지 않았을때
        페이지만 생성되어 있어서 페이지의 여백이 없어서 디자인이 이상하게 보임 
        -> 이런 현상을 최소화 하기 위해서 */
}
.sub_contents .sub_title h2 {
    color: #3675B0 ;
    font-weight: 600;
    margin: 90px 0 5px 0;
}
.sub_contents .sub_title p {
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 600;
}
@media screen and (max-width:1300px) {

} /* media */

@media screen and (max-width:1024px) {
    .sub_visual {
        height: 341px;
        background: url(../images/common/sub_visual01.png) no-repeat center center / cover ;
        color: #fff;
    }
    .sub_menu {
        position: relative; /* after 정렬 기준 */
    }
    .sub_visual strong {
        font-size: 40px;
     }
     .sub_menu .wrapper {
        /* 만약 모바일에서 메뉴의 수가 많아서 한번에 모두 표현되지 않으면
        가로스크롤바가 생성되어야함... - 메뉴를 감싸는 요소 flex를 준 요소 */
        overflow-x: auto; /* 내부요소가 감싸는 요소보다 더 넓어지면 가로스크롤이 생성 */
    }
    .sub_menu::after {
        position: absolute;
        right: 20px;
        top: 0;
        width: 27px;
        height: 100%;
        background-image: linear-gradient(90deg , rgba(54, 117, 176, 0.1),rgba(54, 117, 176, 1));
        content: "";
    }
    .sub_menu .wrapper::-webkit-scrollbar {
        height: 0;
        background-color: transparent; /* 투명 */
    }
    .sub_menu .wrapper::-webkit-scrollbar-thumb {
        background-color: transparent; /* 투명 */
    }
    .sub_menu .wrapper::-webkit-scrollbar-track {
        background-color: transparent; /* 투명 */
    }
    .sub_menu .lnb {
        margin-right: 27px ; /* 오른쪽 그라데이션 준 만큼 추가 여백 - 마지막 메뉴가 가그라데이션에 가려질까봐 */
    }
    .sub_menu .lnb ul li a {
        line-height: 45px;
    }
     .sub_menu .breadcrumb {
        display: none;
    }
    .sub_contents .sub_title h2 {
        margin: 76px 0 7px 0;
    }
    .sub_contents .sub_title p {
        font-size: 30px;
    }
    
} /* media */

@media screen and (max-width:768px) {
    .sub_visual strong {
        font-size: 40px;
        text-align: center;
        padding: 160px 0 11px 0;
        font-weight: 600;
     }
    .sub_visual p {
        display: none;
     }
} /* media */