@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none; /* 숨김 */
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 브라우저 높이만큼 */
    color: #fff;
    min-height: 347px;
    text-align: center;
}
.visual ul li.bg1 {
    background-image:url(../images/visualbg1.png);
}
.visual ul li.bg2 {
    background-image:url(../images/visualbg2.png);
}
.visual ul li.bg3 {
    background-image:url(../images/visualbg3.png);
}
.visual ul li h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    margin: 42vh 0 0 0;
}
.visual ul li p {           
    margin: 17px 0 0 0;
    font-size: 20px;
}
.visual .btn_wrap {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, 0);
    /* 정렬이 되는 기준 swiper의 넓이의 왼쪽 50%부터 (left:50%) 정렬
       btn_wrap 넓이의 절반을 왼쪽으로 이동 (transform)
       그럼 가운데 정렬이 됨  */
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 width:100% 속성 삭제 */
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /* 현재 선택되지 않은 블릿 */
    width: 160px;
    height: 4px;
    border-radius: 0;
    background-color: rgba(255,255,255,0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /* 현재 선택된 블릿 */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s; /* 5초동안 */
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards;
    /* 애니메이션 종료 후 마지막 유지, 애니메이션 반복 횟수가 제한되었을때 사용 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% { width: 0; }
    100% { width: 100%; }
}

.visual .btn_wrap button {
    width: 18px;
    height: 18px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.visual .btn_wrap button::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.87567' cy='7.87567' r='7.52567' stroke='white' stroke-width='0.7'/%3E%3Cpath d='M9.35914 4L10 4.58806L6.28172 8L10 11.4119L9.35914 12L5 8L9.35914 4Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8.12433' cy='7.87579' r='7.52567' transform='rotate(-180 8.12433 7.87579)' stroke='white' stroke-width='0.7'/%3E%3Cpath d='M9.3913 12V4H12V12H9.3913ZM4 12V4H6.6087V12H4Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 현재 play중이라 일시정지 버튼만 나옴 */
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.87579' cy='7.87579' r='7.52567' transform='rotate(-180 7.87579 7.87579)' stroke='white' stroke-width='0.7'/%3E%3Cpath d='M5 12V4L12 8L5 12Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.87579' cy='7.87579' r='7.52567' transform='rotate(180 7.87579 7.87579)' stroke='white' stroke-width='0.7'/%3E%3Cpath d='M6.39233 11.7515L5.75146 11.1634L9.46974 7.75146L5.75146 4.33953L6.39233 3.75146L10.7515 7.75146L6.39233 11.7515Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1300px) {

}
@media screen and (max-width:1024px) {
    
}
@media screen and (max-width:768px) { /* 모바일 적용 */
    .visual ul li {
        height: 360px; /* 브라우저 높이만큼 */
        color: #fff;
        min-height: auto;
        text-align: center;
    }
    .visual ul li h3 {
        font-size: 30px;
        margin: 131px 0 0 0;
    }
    .visual ul li h3 br.m_skip {
        display: none;
    }
    .visual ul li p {           
        margin: 4px 0 0 0;
        font-size: 13px;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        /* 현재 선택안한 불릿 */
        width: 70px;
        height: 3px;
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }
}
@media screen and (max-width:500px) {

}